<p id="notice"><%= notice %></p>

<p>
  <strong>Data type:</strong>
  <%= @port.data_type %>
</p>

<p>
  <strong>Port type:</strong>
  <%= @port.port_type %>
</p>

<p>
  <strong>Is optional:</strong>
  <%= @port.is_optional %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @port.activity_id %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
