<h1>Listing harbors</h1>
<div class="row">
    <%= link_to 'New Harbor', new_harbor_path, class: "btn btn-success pull-right" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="200">Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @harbors.each do |harbor| %>
      <tr>
        <td><%= link_to harbor.name, harbor_path(harbor) %></td>
        <td><%= harbor.description %></td>
        <td><%= link_to t('edit'), edit_harbor_path(harbor), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to t('delete'), harbor_path(harbor) + "/delete", class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



