<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name", autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "E-Mail", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
    <% if current_user.is_admin? %>
    <div class="form-group">
      <%= f.label :role %>
      <%= f.select :role, [["User", "0"],["Admin", "1"]], class: "form-control" %>
    </div>
    <% else %>
      <%= f.hidden_field :role, value: @user.role %>
    <% end %>

    <div class="actions pull-right">
      <% if current_user.is_admin? %><%= link_to 'Cancel', users_path, class: "btn btn-danger" %>&nbsp;<% end %><%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>
