<div class="row">



  <div class="col-sm-6 col-md-5 col-lg-6">
<%= form_for [@harbor, @region], as: :region do |f| %>
  <% if @region.errors.any? %>
    <div id="error_explanation"  class="alert alert-danger">
      <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% @region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('.name') %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.description') %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.next') %><br>
    <%= f.number_field :next_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.prev') %><br>
    <%= f.number_field :prev_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.lat') %><br>
    <%= f.text_field :lat,  class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.lon') %><br>
    <%= f.text_field :lon, class: "form-control" %>
  </div>

    <div class="form-group">
      <%= f.label t('.technology'), class:"control-label" %><br>
     <%= f.collection_select :technology, Technology.technologies, :id, :name, include_blank: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label t('.accuracy'), class:"control-label" %><br>
      <%= f.collection_select :accuracy, Accuracy.accuracies, :id, :name, include_blank: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label t('.task'), class:"control-label" %><br>
      <%= f.collection_select :task_id, Task.all.order(:name), :id, :name, include_blank: true, class: 'form-control' %>
    </div>


  <div class="form-group">
    <%= f.label t('.identifier') %><br>
    <%= f.text_field :identifier, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.minor') %><br>
    <%= f.number_field :minor, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.major') %><br>
    <%= f.number_field :major, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.shape') %><br>
    <%= f.text_area :shape, class: "form-control" %>
  </div>


    <div class="actions">
      <%= f.submit t('save'), class: "btn btn-success" %>
    </div>
<% end %>
</div>
<div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0"><%= render 'regions/maps' %></div>
</div>
