<h1>Listing regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Next</th>
      <th>Prev</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Technology</th>
      <th>Accuracy</th>
      <th>Identifier</th>
      <th>Minor</th>
      <th>Major</th>
      <th>Shape</th>
      <th>Collection</th>
      <th>Task</th>
      <th>Harbor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.description %></td>
        <td><%= region.next_id %></td>
        <td><%= region.prev_id %></td>
        <td><%= region.lat %></td>
        <td><%= region.lon %></td>
        <td><%= region.technology %></td>
        <td><%= region.accuracy %></td>
        <td><%= region.identifier %></td>
        <td><%= region.minor %></td>
        <td><%= region.major %></td>
        <td><%= region.shape %></td>
        <td><%= region.collection_id %></td>
        <td><%= region.task_id %></td>
        <td><%= region.harbor_id %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
