<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<p>
  <strong>Next:</strong>
  <%= @region.next_id %>
</p>

<p>
  <strong>Prev:</strong>
  <%= @region.prev_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @region.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @region.lon %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @region.technology %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @region.accuracy %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @region.identifier %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @region.minor %>
</p>

<p>
  <strong>Major:</strong>
  <%= @region.major %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @region.shape %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
